<nav class="flex items-center gap-2">

  <button
  class="px-3 py-1 border rounded hover:cursor-pointer hover:bg-zinc-300 "
  [disabled]="currentPage === 1"
  (click)="goTo(1)">
  Primeira
  </button>



  <button
  class="px-3 py-1 border rounded  hover:cursor-pointer hover:bg-zinc-300 flex"
  [disabled]="currentPage === 1"
  (click)="goTo(currentPage - 1)">
    <span class="material-symbols-outlined">chevron_left</span> Anterior
  </button>

  @if (currentPage +1 > totalPages && currentPage -2 > 0) {
    <button
    class="px-3 py-1 border rounded  hover:cursor-pointer hover:bg-zinc-300"
    (click)="goTo(currentPage - 2)">
    {{ currentPage - 2 }}
    </button>
  }

  @if (currentPage > 1) {
    <button
    class="px-3 py-1 border rounded  hover:cursor-pointer hover:bg-zinc-300"
    (click)="goTo(currentPage - 1)">
    {{ currentPage - 1 }}
  </button>
  }


  <button
  class="px-3 py-1 border rounded bg-blue-600 text-white">
  {{ currentPage }}
  </button>


  @if (currentPage < totalPages) {
    <button
    class="px-3 py-1 border rounded  hover:cursor-pointer hover:bg-zinc-300"
    (click)="goTo(currentPage + 1)">
    {{ currentPage + 1 }}
    </button>
  }


  @if (currentPage -1 < 1 && currentPage + 2 <= totalPages) {
    <button
    class="px-3 py-1 border rounded  hover:cursor-pointer hover:bg-zinc-300"
    (click)="goTo(currentPage + 2)">
    {{ currentPage + 2 }}
  </button>
  }


  <button
  class="px-3 py-1 border rounded  hover:cursor-pointer hover:bg-zinc-300 flex"
  [disabled]="currentPage === totalPages"
  (click)="goTo(currentPage + 1)">
  Próxima <span class="material-symbols-outlined">
    chevron_right
    </span>
  </button>



  <button
  class="px-3 py-1 border rounded  hover:cursor-pointer hover:bg-zinc-300"
  [disabled]="currentPage === totalPages"
  (click)="goTo(totalPages)">
  Última
  </button>
</nav>
