



<div class="p-4  mx-auto">
  <h1 class="text-xl font-bold mb-6">
    {{ edit ? 'Editar Pet' : 'Cadastrar Pet' }}
  </h1>

  <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4 w-full ">

    <div class="flex flex-wrap gap-3 justify-evenly ">
      <div class="flex  flex-wrap gap-3 justify-evenly">

        <div class="flex flex-1 flex-wrap  flex-col items-center h-[336px]">


          <div class="flex flex-col items-center justify-center h-full">
            @if (fotoPreviewUrl) {
              <img
                [(src)]="fotoPreviewUrl"
                class="h-70 object-cover mb-4 border rounded border-zinc-600"
              />
            <button class="px-4 py-2 bg-red-600 text-white rounded"
              (click)="removerFoto(form.get('foto')?.value?.id)"
              type="button">
              Remover Foto
            </button>
          }
          @if (!fotoPreviewUrl) {

            <div class="flex flex-col items-center">
              <label class="block mb-1 font-medium">Adicionar Foto</label>

              <input
                type="file"
                id="foto"
                (change)="onFileSelected($event)"
                class="hidden"
              />

              <label
                for="foto"
                class="inline-flex items-center gap-2 bg-green-600 hover:bg-green-700 text-white font-medium px-4 py-2 rounded cursor-pointer transition"
              >
                <span class="material-icons text-[20px]">upload</span>
                Escolher foto
              </label>
            </div>
          }
          </div>

        </div>

        <div class="flex flex-1 flex-col pl-2 pr-2 h-[336px] max-w-[500px]">
          <div class="flex flex-col justify-between h-full">
            <div class="self-start">
              <h3 class="block mb-1 font-medium">Dados do Pet</h3>
            </div>
            <div>
              <label class="block mb-1 font-medium">Nome<span>*</span></label>
              <input
                type="text"
                formControlName="nome"
                class="w-full border rounded p-2" />

              @if (form.get('nome')?.invalid && form.get('nome')?.touched) {
                <small class="text-red-500">Nome é obrigatório</small>
              }
            </div>

            <!-- Raça -->
            <div>
              <label class="block mb-1 font-medium">Raça</label>
              <input
                type="text"
                formControlName="raca"
                class="w-full border rounded p-2" />

              @if (form.get('raca')?.invalid && form.get('raca')?.touched) {
                <small class="text-red-500">Raça é obrigatória</small>
              }
            </div>

            <!-- Idade -->
            <div>
              <label class="block mb-1 font-medium">Idade</label>
              <input
                type="number"
                formControlName="idade"
                class="w-full border rounded p-2" />
            </div>

            <!-- Botões -->
            <div class="flex w-full mt-2 gap-4 items-center justify-evenly" >
              <div>
                <button
                  type="button"
                  class="px-4 py-2 border rounded"
                  (click)="bakHome()">
                  Cancelar
                </button>
              </div>

              <div >
                <button
                class=" bg-blue-600 text-white py-2 px-4 rounded"
                type="button"
                (click)="submit()"
                >
                  Salvar
                </button>

              </div>

            </div>
          </div>
        </div>

      </div>
      @if(tutoresList.length > 0){
        <div class=" flex-wrap flex-col">

          <div>
            <h3 class="block mb-1 font-medium">Tutores do Pet</h3>
            <div class=" p-2  overflow-y-auto">
              @for (tutor of (tutoresList) ; track tutor.id) {
                <div class="grid grid-cols-[1fr_4fr] items-center-safe gap-2 mb-2 border rounded border-zinc-600 p-2">

                  <img
                    [src]="tutor.foto?.url"
                    class="h-20 min-w-20 rounded-full inline-block mr-2 object-cover ml-3"
                    alt="sem imagem"
                  />
                  <div class="flex flex-col items-start ">
                    <span class="font-medium">Nome: <strong>{{ tutor.nome }}</strong></span>
                    <span>Email: {{ tutor.email || 'Não informado' }}</span>
                    <span>Telefone: {{ tutor.telefone | telefone }}</span>
                    <span>Endereço: {{tutor.endereco || 'Não informado' }}</span>
                  </div>

                  <button
                    type="button"
                    class="max-h-10 px-2 py-1 bg-red-600 text-white rounded hidden"
                    (click)="removerTutor(tutor)">
                    Remover
                  </button>
                </div>
              }
            </div>
          </div>

        </div>
      }
    </div>

  </form>
</div>
