<div class="p-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-xl font-bold">Tutores</h1>
  </div>

  <ul class="space-y-2">
    @for (tutor of tutores$ | async; track tutor.id) {
      <li class="border p-3 rounded" (click)="viewDetail(tutor.id)">
        @if (tutor.foto?.url) {
          <img
            [src]="tutor.foto?.url"
            class="h-10  rounded-full inline-block mr-2 object-cover"
          />
        }
        <strong>{{ tutor.nome }}</strong><br>
        CPF: {{ tutor.cpf }}<br>
        Email: {{ tutor.email }}
      </li>
    }
  </ul>
</div>
