<nav class="bg-gray-800 text-white px-4 py-3 flex items-center gap-6">

  <a
    routerLink="/pets"
    routerLinkActive="text-yellow-400"
    class="inline-flex items-center gap-1 hover:text-yellow-300"
  >
    <span class="material-icons text-[20px]">pets</span>
    Pets
  </a>

  <a
    routerLink="/tutores"
    routerLinkActive="text-yellow-400"
    class="inline-flex items-center gap-1 hover:text-yellow-300"
  >
    <span class="material-icons text-[20px]">person</span>
    Tutores
  </a>

  <!-- <a
    routerLink="/new/pets"
    routerLinkActive="text-yellow-400"
    class="inline-flex items-center gap-1 hover:text-yellow-300"
  >
    <span class="material-icons text-[20px]">add</span>
    Novo Pet
  </a>

  <a
    routerLink="/new/tutores"
    routerLinkActive="text-yellow-400"
    class="inline-flex items-center gap-1 hover:text-yellow-300"
  >
    <span class="material-icons text-[20px]">person_add</span>
    Novo Tutor
  </a> -->
</nav>
