
<nav class="bg-gray-800 flex w-full justify-between text-white px-4 py-3 h-12 ">


  @if (auth.isLogged()){
    <div class="flex items-center gap-6">
      <a
        routerLink="/pets"
        routerLinkActive="text-yellow-400"
        class="inline-flex items-center gap-1 hover:text-yellow-300"
      >
        <span class="material-icons text-[20px]">pets</span>
        Pets
      </a>

      <a
        routerLink="/tutores"
        routerLinkActive="text-yellow-400"
        class="inline-flex items-center gap-1 hover:text-yellow-300"
      >
        <span class="material-icons text-[20px]">person</span>
        Tutores
      </a>

    </div>

    <div>
      <div class=" inline-flex items-center gap-1 hover:text-red-500 hover:cursor-pointer"
        (click)="logout()"
      >
        <span class="material-symbols-outlined text-[20px]">
        exit_to_app
        </span>
        Sair
      </div>
    </div>
  }
</nav>
